@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* HEADER */
header {
    position: fixed;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    min-height: 115px;
    padding: 0 2em;
    z-index: 1000;
}
.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 115px;
    font-weight: 300;
    /* visibility: hidden; */
    /* display: none; */
    height: 0;
    overflow: hidden;
    transition: all 0.7s;
    /* z-index: -100; */
}
.nav-menu ul li {
    padding: 0.7em 1.5em;
    box-sizing: border-box;
}
.nav-menu ul a {
    display: block;
    height: 100%;
    width: 100%;
    color: #000;
    box-sizing: border-box;
    padding-left: 0.3em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.nav-menu ul a i {
    margin-right: 1em;
}
label {
    font-size: 1.4em;
}
label #hamburger, label #close {
    cursor: pointer;
}
label #close {
    display: none;
}
#check {
    display: none;
}
#check:checked ~ .nav-menu {
    top: 0;
    /* visibility: visible; */
    /* display: block; */
    height: 240px;
    overflow: hidden;
    transition: all 0.7s;
}
#check:checked ~ label #close {
    display: block;
}
#check:checked ~ label #hamburger {
    display: none;
}
.nav-menu ul li a:hover{
    background-color: rgba(0, 0, 0, 0.10);
    border-left: 4px solid  rgba(0, 0, 0, 0.40);
}


/* HERO */

.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 0.5em;
    padding-top: 6em;
}
.hero h1 {
    margin-top: 100px;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.4em;
    width: 100%;
    letter-spacing: 0.10em;
}
.hero h3 {
    margin-top: 0.5em;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding: 0 1em;
}
.services {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    z-index: 50;
    margin-top: -180px;
    background: #fff;
}
.card {
    border: none;
    padding: 3.6em 1em;
    margin-bottom: 1.5em;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 25px 34px 0px rgba(148, 145, 145, 0.29);
    box-sizing: border-box;
    z-index: 0;
    transition: background-color 0.3s;
}
.card i {
    font-size: 2em;
} 
.card h4 {
    margin-top: 0.5em;
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    margin-bottom: 1em;
    color: #111111;
}
.card p {
    line-height: 2.2em;
    color: #5d5d5d;
}
.card:hover {
    background-color: #000000;
    color: #ffffff;
    transition: background-color 0.5s;
}
.card:hover h4 {
    color: #999da1;
}
.portfolio {
    box-sizing: border-box;
    width: auto;
    padding: 20px 15px;
}
.portfolio__heading {
    margin-bottom: 50px;
}
.portfolio__heading-title {
    line-height: 85px;
    letter-spacing: 6px;
    font-weight: 400;
}
.portfolio__heading-text {
    color: #5d5d5d;
    line-height: 30px;
    text-align: center;
}
.portfolio__links-box {
    text-transform: uppercase;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 50px;
}
.portfolio__links-format {
    display: inline-block;
    margin: 0 10px;
}
.portfolio__link {
    text-decoration: none;
    font-size: 0.75em;
    letter-spacing: 3px;
    color: #282828;
}
.portfolio__images {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    overflow: auto;
    box-sizing: border-box;
}
.portfolio__image {
    width: 100%;
    margin-bottom: 1.5em;
    position: relative;
}
.portfolio__image:hover > .portfolio__image-hover{
    width: 86%;
    margin-left: 7%; 
    opacity: 1;
    transition: all 0.5s;
}
.portfolio__image img {
    width: 100%;
}
.portfolio__image-hover {
    position: absolute;
    bottom: 30px;
    background-color: #fff;
    width: 100%;
    padding: 1.4em;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
    opacity: 0;
}
.portfolio__image-hover--information {
    line-height: 1.8em;
    overflow: hidden;
}
.portfolio__image-hover--information a h3 {
    color: #282828;
    letter-spacing: 0.1em;
    font-weight: 400;
}
.portfolio__image-hover--information h5 {
    color: #a4a4a4;
    letter-spacing: 0.1em;
    font-weight: 400;
}
.portfolio__image-hover a i {
    color: #5d5d5d;
}
#transition {
    overflow: hidden;
}
#transition .transition-images {
    display: flex;
    width: 300%;
    animation: change 12s infinite alternate;
}
/* @keyframes change {
    0% { margin-left: 0;}
    28% { margin-left: 0;}
    36% { margin-left: -100%;}
    64% { margin-left: -100%;}
    72% { margin-left: -200%;}
    100% { margin-left: -200%;}
} */
#transition .transition-images li {
    width: 100%;
}
#transition input {
    display: none;
}
#transition .carousel { 
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#transition .carousel .option {
    border: solid 1px #111;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0 0.1em;
}
#option-1:checked ~ .carousel label #circle-1 {
    background-color: #111;
}
#option-2:checked ~ .carousel label #circle-2 {
    background-color: #111;
}
#option-3:checked ~ .carousel label #circle-3 {
    background-color: #111;
}
#option-1:checked ~ .transition-images {
    margin-left: 0;
    transition: margin-left 1s;
}
#option-2:checked ~ .transition-images {
    margin-left: -100%;
    transition: margin-left 1s;
}
#option-3:checked ~ .transition-images {
    margin-left: -200%;
    transition: margin-left 1s;
}
.portfolio__button-box {
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
.portfolio__button {
    text-align: center;
    color: #111111;
    border: solid 1px;
    border-color: #111111;
    padding: 15px 45px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    background-color: #fff;
    outline: none;
}
.portfolio__button:hover {
    background-color: #343a40;
    color: #fff;
}
.testimonial {
    background-color: #f8f8f8;
    padding: 100px 15px 80px 15px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}
.heading__lastest-news {
    margin-bottom: 3.5em;
}
.heading__title {
    text-align: center;
    line-height: 85px;
    letter-spacing: 6px;
    color: #282828;
    text-transform: uppercase;
    font-weight: 400;
}
.heading__sub-text {
    color: #5d5d5d;
    line-height: 30px;
    text-align: center;
    font-size: 14px
}
.testimonial__card-container {
    margin-top: 40px;
    width: 200%;
    box-sizing: border-box;
    display: flex;
}
.testimonial__scroll {
    width: 100%;
    padding: 15px;
}
.testimonial__card {
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    margin-top: 1.5em;
    padding: 3em 1em;
    line-height: 2em;
    font-size: 0.85em;
    text-align: left;
    border-radius: 10px;
}
.testimonial__card p {
    color: #5d5d5d;
    margin-bottom: 1em;
}
.testimonial__card h4 {
    color: #282828;
    display: inline-block;
    font-weight: 400;
    font-size: 1.1em;
}
.testimonial__card h6 {
    color: #878787;
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
    font-weight: 400;
    font-size: 0.7em;
    letter-spacing: 0.2em;
}
.testimonial input {
    display: none;
}
.testimonial > .carousel {
    width: 100%;
    margin-top: 4em;
    display: flex;
    justify-content: center;
} 
.testimonial .carousel .scroll-option {
    height: 10px;
    width: 10px;
    border: solid 2px #d4d4d4;
    border-radius: 50%;
    margin: 0 8px;
}
#scroll-1:checked ~ .carousel #testimonial__circle-1 {
    background-color: #d4d4d4;
}
#scroll-2:checked ~ .carousel #testimonial__circle-2 {
    background-color: #d4d4d4;
}
#scroll-1:checked ~ .testimonial__card-container {
    margin-left: 0;
    transition: all 0.4s;
}
#scroll-2:checked ~ .testimonial__card-container {
    margin-left: -100%;
    transition: all 0.4s;
}
.lastest-news {
    padding: 3.5em 1em;
}
.lastest-news__posts {
    width: 100%;
    box-sizing: border-box;
    padding: 4%;
}
.lastest-news__post-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lastest-news__post-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lastest-news__images {
    width: 80%;

}
.lastest-news__images img {
    width: 100%;
}
.lastest-news__text {
    width: 100%;
    padding: 4%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lastest-news__text h4 {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #282828;
    font-size: 1.1em;
    font-weight: 400;
    margin-bottom: 15px;
    color: #282828;
}
.lastest-news__text h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 1.2em;
    color: #282828;
}
.lastest-news__text p {
    text-align: left;
    margin-bottom: 15px;
    color: #5d5d5d
}
.lastest-news__text .more {
    font-size: 13px;
    display: inline-block;
    position: relative;
    z-index: 1;
    letter-spacing: 1.95px;
    line-height: 21px;
    padding: 0 8px;
    width: 83px;
    color: #121416;
}
.lastest-news__text .more::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    content: "";
    background: rgba(17,17,17,.15);
    z-index: -1;
    transition: .3s;
}
.lastest-news__text .more:hover::before {
    right: 40%;
}

.footer {
    background-color: #111111;
    width: 100%;
    padding: 4em 5%;
    box-sizing: border-box;
    text-align: center;
}
.footer__brand {
    width: 100%;
}
.footer__brand img {
    height: 100px;
    width: 100px;
}
.footer__about-us {
    margin-top: 2em;
    width: 100%;
}
.footer__about-us h5 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5px;
    margin-bottom: 20px;
    font-size: 14px;
}
.footer__about-us p {
    color: #ababab;
    line-height: 30px;
}
.footer__contact {
    width: 100%;
    margin-top: 2em;
}
.footer__contact h5 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5px;
    margin-bottom: 20px;
    font-size: 14px;
}
.footer__contact p {
    color: #ababab;
    line-height: 30px;
}
  
.copyright {
    background-color: #1d1d1d;
    padding: 25px 9%;
    color: #ababab;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;
}
.copyright a {
    text-transform: capitalize;
    text-decoration: none;
    color: #ababab;
}
.copyright a:hover {
    color: #fff;
}
.copyright__links {
    margin-top: 1em;
    box-sizing: border-box;
}
.copyright__links a {
    padding: 10px;
}
.copyright__links a:hover {
    color: #fff;
}

@media (min-width: 768px) {
    .services {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }   
    .card {
        width: 45%;
        margin: 2.5%;
    }
    .portfolio__heading {
        margin-top: 5%;
    }
    .portfolio__heading-text {
        padding: 0 18%;
    }
    .portfolio__images {
        margin: 1rem auto;
        width: 100%;
        height: 820px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .portfolio__image {
        width: 33.33%;
        position: relative;
        border-radius: 3px;
        padding: 15px;
        box-sizing: border-box;
    }
    .heading__sub-text {
        padding: 0 18%;
    }
    .testimonial__scroll {
        padding: 3% 7%;
    }
    .lastest-news__posts {
        box-sizing: border-box;
        padding: 2% 8%;
    }
    .lastest-news__post-1 {
        flex-direction: row;
    }
    .lastest-news__images {
        width: 100%;
    }
    .lastest-news__post-2 {
        margin-top: 5%;
        flex-direction: row-reverse;
    }
}

@media (min-width: 992px) {
    header {
        justify-content: space-between;
        padding: 2% 8%;
    }
    #hamburger{
        display: none;
    }
    #close {
        display: none;
    }
    .nav-menu {
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 0;
        font-weight: 300;
        height: 100px;
        overflow: hidden;
        transition: all 0.7s;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .nav-menu ul li {
        padding: 0.7em 1.5em;
        display: inline;
        box-sizing: border-box;
    }
    .nav-menu ul a {
        display: inline;   
        color: #000;
        box-sizing: border-box;
        padding-left: 0.3em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }
    .hero {
        padding-top: 13%;
        background-color: #f8f9fa;
    }
    .hero > h1 {
        font-size: 60px;
        text-align: center;
        line-height: 85px;
        letter-spacing: 6px;
        color: #282828;
    }
    .services {
        margin-top: 5%;
    }
    .card {
        width: 21%;
        margin: 2%;
    }
    .portfolio__heading-text {
        padding: 0 26%;
    }
    .heading__sub-text {
        padding: 0 26%;
    }
    .portfolio__images {
        height: 1000px;
    }
    .portfolio__image {
        width: 33.33%;
        position: relative;
        border-radius: 3px;
        padding: 15px;
        box-sizing: border-box;
    }
    .testimonial__scroll {
        display: flex;
        justify-content: space-between;
    }
    .testimonial__card {
        margin: 2%;
    }
} 

@media (min-width: 1200px) {
    .portfolio__images {
        height: 1200px;
    }
    .lastest-news__posts {
        padding-left: 20% ;
        padding-right: 20% ;
    }
    .lastest-news__images {
        padding: 5%;
    }
    .footer {
        display: flex;
        padding-top: 9%;
        padding-bottom: 9%;
        justify-content: space-around;
    }
    .footer > div {
        text-align: start;
    }
    .copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .copyright__links {
        margin: 0;
    }
}
